.trailing.clear {
  cursor: pointer;

  &:focus {
    color: #3b71ca;
    outline: none;
  }
}

.is-invalid {
  border-color: red;
}

.invalid-feedback {
  color: red;
}

.input-group {
  margin-top: 2rem;
}

.login-btn {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
